.activePath {
     background: rgba(255, 255, 255, 0.5);

}

.activePathOpen {
  border-radius: 0 50px 50px 0;
  transition: all 0.1s ease-in-out;

}

.activePathClosed {
  border-radius: 0;
  transition: all 0.1s ease-in-out;
}

.myElem:hover {
background: rgba(255, 255, 255, 0.2);
color: #000;
border-radius: 0 50px 50px 0;
}

  .btn, .btn-link{
    color: black
  }
  .sidebar-item {
       font-weight: bold;
       display: block;
       margin-top: 30px;
       margin-bottom: 30px;
       color: black;
  
   }
  
   .item-title{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 15px;
    font-size: 12px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
   }



  .item-title {
    color: white;
  }
  .sidebar-item {
    font-weight: bold;
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
}
btn btn-link
button:focus {
  outline: none;
}

    ul {
      padding-left: 0
     }
   
     .logoFont{
      margin-left: 20px;
      align-items: center;
     
    }

    .navWrap{
      margin-bottom: 25px;
      white-space: nowrap;
      display: flex;
    }

 


  .sidenav-hidden{
    width: 4.25rem;
    transition: 0.25s;
  }


  .sidenav-active {
    width: 19rem;
    padding-right: 40px;
    transition: 0.25s;

   
  }

  .sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 99; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background: #353535;  /* fallback for old browsers */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }



  p {
    font-family: 'Montserrat', sans-serif;  
  }
  h1 h2 h3 {
    font-family: 'Roboto', sans-serif;
  }



    .toggle-btn {
      height: 2px;
      width: 25px;
      background-color: #fff;
      position: relative;
      top: 50%;
      left: 0;
      margin: auto;
      transition: all 0.3s ease-in-out; }
      .toggle-btn:before {
        content: "";
        height: 2px;
        width: 25px;
        box-shadow: 0 -10px 0 0 #fff;
        position: absolute;
        top: 0;
        left: 0;
        transition: all 0.3s ease-in-out; }
      .toggle-btn:after {
        content: "";
        height: 2px;
        width: 25px;
        box-shadow: 0 10px 0 0 #fff;
        position: absolute;
        top: 0;
        left: 0;
        transition: all 0.3s ease-in-out; }
    
    .active .toggle-btn {
      background-color: transparent;
      transition: all 0.2s ease-in-out; }
      .active .toggle-btn:before {
        top: 0;
        transition: all 0.3s ease-in-out; }
      .active .toggle-btn:after {
        top: 0;
        transition: all 0.3s ease-in-out; }
    
    .active .type11 {
      transform: rotate(90deg);
      transition: all 0.4s ease-in-out; }
      .active .type11:before {
        transform: translateY(0) rotate(40deg); }
      .active .type11:after {
        transform: translateY(0) rotate(-40deg); }

    @media (max-width: 770px) {
 

      .sidebar-item {
        font-size: .65rem;
        display: block;
      }
      .logoFont{
        font-size: 1rem;  
        padding-left: 10px;
      }
    }

 